[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

"python-lambda-local" = "*"
pylint = "*"
"boto3" = "*"
bumpversion = "*"
awscli = "*"





[packages]
"python-gnupg" = "*"
fleece = "*"








[requires]
python_version = "3.6"